<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Trip to Space</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Space Travel</h1>
    <p>Hello, my name is astronaut @Name. I am on my way to @SpacePlace1.</p>
    <p>I will be gone for @NotFiniteNumberException days. I feel very @Emotion1 about my trip to @SpacePlace1</p>
    <p>I will miss @Miss1 and @Miss2, but I look forward to seeing @SpaceAttraction in outerspace.</p>
    <p>Last time I went to space, I flew in my @Color rocket to @SpacePlace2.</p>
    <p>When I got there, there was a giant pack of @BigNumber @Emotion2 @AnimalPlural.</p>
    <p>Luckily, I had an extra @Thing in my pocket. Space @AnimalPlural LOVE @Thing.</p>
    <p>I ran as fast as I could and I escaped safely in my @Color rocket and flew back to my home planet @HomePlanet.</p>
    </div>
  </body>
</html>