<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Trip to Space Mad Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Space Travel</h1>
    <p>Hello, my name is astronaut @Model.Name. I am on my way to @Model.SpacePlace1.</p>
    <p>I will be gone for @Model.Number days. I feel very @Model.Emotion1 about my trip to @Model.SpacePlace1</p>
    <p>I will miss @Model.Miss1 and @Model.Miss2, but I look forward to seeing @Model.SpaceAttraction in outerspace.</p>
    <p>Last time I went to space, I flew in my @Model.Color rocket to @Model.SpacePlace2.</p>
    <p>When I got there, there was a giant pack of @Model.BigNumber @Model.Emotion2 @Model.AnimalPlural.</p>
    <p>Luckily, I had an extra @Model.Thing in my pocket. Space @Model.AnimalPlural LOVE @Model.Thing.</p>
    <p>I ran as fast as I could and I escaped safely in my @Model.Color rocket and flew back to my home planet @Model.HomePlanet.</p>
    </div>
  </body>
</html>