<!DOCTYPE html>
<html>
  <head>
    <meta charset='=utf-8'>
    <title>MadLibs Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Trip to the Park</h1>
    <p>Yesterday, @Model.Person_1 and I went to the park. On our way to the @Model.Adjective_1 park, we saw a @Model.Adjective_2 @Model.Noun_1 on a bike.</p>
    <p>We also saw big @Model.Adjective_3 balloons tied to a @Model.Noun_2. Once we got to the @Model.Adjective_1 park, the sky turned @Model.Color_1.</p>
    <p>It started to @Model.Verb_1 and @Model.Verb_2.</p>
    <p>@Model.Person_1 and I @Model.Verb_3 all the way home.</p>
    <p>Tomrorow we will try to go to the @Model.Adjective_1 park again and hope it doesn't @Model.Verb_4.</p>
  </body>
</html>