<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Trip to the Park</h1>
    <p>Yesterday, @Model.Person and I went to the park. On our way to the @Model.Adjective1 park, we saw a @Model.Adjective2 @Model.Noun1 on a bike.</p>
    <p>We also saw big @Model.Adjective3 balloons tied to a @Model.Noun2. Once we got to the @Model.Adjective1 park, the sky turned @Model.Color.</p>
    <p>It started to @Model.Verb1 and @Model.Verb2.</p>
    <p>@Model.Person and I @Model.Verb3 all the way home.</p>
    <p>Tomrorow we will try to go to the @Model.Adjective1 park again and hope it doesn't @Model.Verb4.</p> 
  </body>
</html>